MONGODB_URI=mongodb://localhost:27017/my-app
SUPABASE_DATABASE_URL=https://tevdxaufsnpsbvvurddg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
MACBOOK_CLOUD_SIMULATION=true

# BOUNDARY CONFIGURATION
BOUNDARY_URL=https://e15e881b-2d8b-49da-9306-e8aaf84eef37.boundary.hashicorp.cloud

# ICLOUD SYNCHRONIZATION
# The local path to your iCloud folder destination
ICLOUD_SYNC_PATH="/Users/yourname/Library/Mobile Documents/com~apple~CloudDocs/Antigravity_Sync"
