MONGODB_URI=mongodb://localhost:27017/my-app
SUPABASE_DATABASE_URL=https://tevdxaufsnpsbvvurddg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
MACBOOK_CLOUD_SIMULATION=true

# ICLOUD SYNCHRONIZATION
# The local path to your iCloud folder destination
ICLOUD_SYNC_PATH="/Users/yourname/Library/Mobile Documents/com~apple~CloudDocs/Antigravity_Sync"
